.moo-lah-lah-regular 
{
    font-family: "Moo Lah Lah", serif;
    font-weight: 400;
    font-style: normal;
}  

.selector-for-some-widget 
{
  box-sizing: content-box;
}

body
{
    background-color:#57d6ff;
    margin : 0px auto;
    font-size: 25px;
}

h1, h2
{
    color: #ff8057;
    font-family: "Moo Lah Lah", serif;
    font-weight: 400;
    font-style: normal;   
    font-size: 450%;
    text-align: center;
    background: lightgrey;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    border: 10px solid black;
    border-radius: 35px;
}

p
{
    color: #36869f;
}

.description
{
    width: 600px;
    font-size: 100%;
    color: darkblue
}

h3, .smallerheader
{
    width: 600px;
    margin-top: -10px;
}

#youtubeVideo
{
    margin : 0px auto;
}

.left
{
    width: 600px;
    height: 1000px;
    float: left;
    margin-left: 50px;

}

.right
{
    width: 600px;
    height: 1000px;
    float: left;
    margin-left: 100px;
    margin-right: 50px;
}

.smallerheader-ingredients
{
    margin: -80px;
}

.otherRecipesDiv
{
    width: 250px;
    float: left;
}

footer
{
    float: left;
}